:host {
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 30px 30px 40px 30px;
  border-radius: 3px;
  min-width: 200px;

  h2.title{
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}
