@import "../../scss/variables";

:host {
  display: block;

  .input-container {
    margin-bottom: 30px;

    input {
      padding: 15px;
      outline: none;
      border: 1px solid #aaa;
      border-radius: 3px;
      font-size: 1rem;

      &:focus {
        margin: -1px;
        border: 2px solid #4d148c;
      }
    }
  }

  .name-field-container,
  .password-field-container {
    .input-container {
      @media (min-width: map-get($grid-breakpoints, 'sm')) {
        &:not(:first-child) {
          margin-left: 5px;
        }

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }

  button {
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;

    &.btn-primary {
      background-color: $primary-color;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
