<div fxLayout="row" fxLayoutAlign="center start">
  <app-card title="Create New Account" fxFlex="0 1 600px" style="margin: 10px;">
    <form [formGroup]="signUpForm" (ngSubmit)="onFormSubmit()" autocomplete="off"
          *ngIf="!signUpCompleted;else showSuccessMessage">
      <!-- Name -->
      <div fxLayout="row wrap" class="name-field-container">
        <!-- First Name -->
        <div class="input-container" fxFlex fxLayout="column">
          <input type="text" placeholder="First Name" formControlName="firstName" autocomplete="off" appAutofocus>
          <app-input-error
            [control]="signUpForm.get('firstName')"
            [messages]="errorMessages.firstName">
          </app-input-error>
        </div>

        <!-- Last Name -->
        <div class="input-container" fxFlex fxLayout="column">
          <input type="text" placeholder="Last Name" formControlName="lastName">
          <app-input-error
            [control]="signUpForm.get('lastName')"
            [messages]="errorMessages.lastName">
          </app-input-error>
        </div>
      </div>

      <!-- Email -->
      <div class="input-container" fxLayout="column">
        <input type="text" placeholder="Email" formControlName="email">
        <app-input-error
          [control]="signUpForm.get('email')"
          [messages]="errorMessages.email">
        </app-input-error>
      </div>

      <!-- Password -->
      <div fxLayout="row wrap" class="password-field-container">
        <!-- Password -->
        <div class="input-container" fxFlex fxLayout="column">
          <input type="password" placeholder="Password" formControlName="password">
          <app-input-error
            [control]="signUpForm.get('password')"
            [messages]="errorMessages.password">
          </app-input-error>
        </div>

        <!-- Confirm Password -->
        <div class="input-container" fxFlex fxLayout="column">
          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
          <app-input-error
            [control]="signUpForm.get('confirmPassword')"
            [messages]="errorMessages.confirmPassword">
          </app-input-error>
        </div>
      </div>

      <!-- Actions -->
      <div fxLayout="column">
        <button type="submit" class="btn-primary" [disabled]="submitting">Submit</button>
      </div>

      <div class="signup-error" *ngIf="error">
        Error occurred while trying to create account. Please try again.
      </div>
    </form>

    <!-- Show success message -->
    <ng-template #showSuccessMessage>
      <div fxLayout="column" fxLayoutAlign="center center" class="signup-success">
        <br>
        <fa-icon [icon]="faCheckCircle"></fa-icon>
        <div>Account created successfully.</div>
        <br><br>
        <button class="btn-primary" (click)="resetSignUp()">Continue</button>
      </div>
    </ng-template>
  </app-card>
</div>
