html, body, div, p, a, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 14px;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', serif;
}

input {
  &.ng-touched.ng-invalid {
    border-color: #f00 !important;
  }

  font-family: 'Roboto', serif;
}
